@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    color: rgb(30, 30, 30);
    box-sizing: border-box;
}

.login-container{
    margin: 10vw auto;
    border-radius: 2vw;
    width: 65vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  font-family: "Reddit Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #cdf0b5;
}


.form-image{
    width: 45%;
    display: block;
}

.form-container{
    background-color: white;
    width: 50%;
    padding: 2vw;
    letter-spacing: 1px;
    border-radius: 10px;
}

.logo-container{
    width: 10vw;
    margin: 0vw auto;
    display: block;
}

.logo-image{
    width: 3vw;
}

.logo-text{
    font-size: 1vw;
}

.create-account{
    font-size: 2vw;
    text-align: center;
    margin: 1vw auto;
}

input, label{
    display: block;
    width: 98%;
    margin: 0.5vw auto;
}

label{
    font-size: 1.2vw;
}

input{
    outline: none;
    border: none;
    border: 1px solid gray;
    border-radius: 0.5vw;
    padding: 0.5vw;
    font-size: 1.1vw;
}

::placeholder{
    font-size: 1vw;
    color: rgb(164, 164, 164);
    letter-spacing: 1px;
}

.login-button{
    background-color: #4F6F38;
    color: white;
    padding: 2vw auto;
    margin: 2vw auto;
    letter-spacing: 2px;
    border: none;
    font-size: 1.5vw;  
    transition: all 0.2s linear;
    box-shadow: 1px 2px 3px #85a76c;
}

.login-button:hover{
    background-color: #4f6f38a3;
}

.or{
    text-align: center;
    margin: 2vw auto;
}

.login-options{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.login-options img{
    width: 3vw;
    padding: 0.5vw;
    border-radius: 50%;
}

.login-options img:hover{
    box-shadow: 10px solid rgb(0, 0, 0);
}

.already{
    font-size: 1vw;
    text-align: center;
    margin: 2vw 0vw 0vw 0vw;
}

@media screen and (max-width:400px) {
    body{
        padding: 2vw;
    }

    .login-container{
        flex-direction: column;
        margin: 2vw auto;
        width: 100%;
    }

    .form-container{
        width: 100%;
    }

    .logo-container{
        width: 40vw;
    }

    .create-account{
        font-size: 6vw;
        margin: 3vw auto;
    }

    label{
        font-size: 4vw;
    }

    input{
        font-size: 4vw;
        padding: 2vw;
    }

    ::placeholder{
        font-size: 3vw;
    }

    input, label{
        margin: 2vw auto;
    }

    .login-button{
        margin: 5vw auto;
        font-size: 5vw;
    }

    .or{
        font-size: 5vw;
    }

    .login-options img{
        width: 11vw;
    }
    .already{
        font-size: 4vw;
        margin: 4vw 0vw 0vw 0vw;
    }

}